################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetCoreAudit/v15/.suo
/.vs
*.suo
/src/.vs
/src/App.Audit.Api/bin/Debug/netcoreapp2.0
/src/App.Audit.Api/obj/Debug/netcoreapp2.0
/src/App.Audit.Api/obj/Release/netcoreapp2.0
/src/App.Audit.Api/obj
/src/App.Audit.Domain/bin/Debug/netcoreapp2.0
/src/App.Audit.Domain/obj
/src/App.Audit.FunctionTest/bin/Debug/netcoreapp2.0
/src/App.Audit.FunctionTest/obj
/src/App.Audit.Infrastructure/bin/Debug/netcoreapp2.0
/src/App.Audit.Infrastructure/obj
/src/App.Audit.UnitTest/bin/Debug/netcoreapp2.0
/src/App.Audit.UnitTest/obj
/src/App.Common/bin/Debug/netcoreapp2.0
/src/App.Common/obj
/src/App.TestUtil/bin/Debug/netcoreapp2.0
/src/App.TestUtil/obj
/src/App.Audit.IntegrationTest/bin/Debug/netcoreapp2.0
/src/App.Audit.IntegrationTest/obj
/src/App.Audit.CommandProcessor/bin/Debug/netcoreapp2.0
/src/App.Audit.CommandProcessor/obj
/src/App.Audit.QueryProcessor/bin/Debug/netcoreapp2.0
/src/App.Audit.QueryProcessor/obj
